agate==1.6.3
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.7
anyio==3.5.0
apache-airflow==2.3.0
apache-airflow-providers-ftp==2.1.2
apache-airflow-providers-http==2.1.2
apache-airflow-providers-imap==2.2.3
apache-airflow-providers-sqlite==2.1.3
apispec==3.3.2
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
bar-chart-race==0.1.0
beautifulsoup4==4.10.0
bleach==4.1.0
blinker==1.4
bs4==0.0.1
cached-property==1.5.2
cachelib==0.6.0
cachetools==5.0.0
cattrs==1.10.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.11
chess==1.9.2
click==7.1.2
clickclick==20.10.2
colorama==0.4.4
colorlog==4.8.0
commonmark==0.9.1
connexion==2.13.1
cron-descriptor==1.2.24
croniter==1.3.4
cryptography==37.0.2
curlify==2.2.1
cycler==0.11.0
dbt-bigquery==1.3.0
dbt-core==1.3.1
dbt-extractor==0.4.1
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
detecta==0.0.5
df2gspread==1.0.4
dill==0.3.4
distlib==0.3.6
Django==4.0.6
dnspython==2.2.1
docutils==0.18.1
email-validator==1.2.1
entrypoints==0.3
et-xmlfile==1.1.0
facebook-business==14.0.0
filelock==3.4.2
findspark==2.0.1
Flask==1.1.4
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-MySQLdb==0.2.0
Flask-OpenID==1.3.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
fonttools==4.29.1
frozenlist==1.3.0
future==0.18.2
google==3.0.0
google-analytics-data==0.11.2
google-api-core==2.8.0
google-api-python-client==2.48.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
google-cloud-bigquery==2.34.4
google-cloud-core==2.3.2
google-cloud-dataproc==5.0.3
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.1
graphviz==0.20
greenlet==1.1.2
grpcio==1.50.0
grpcio-status==1.48.2
gspread==5.2.0
gunicorn==20.1.0
h11==0.12.0
hologram==0.0.15
html5lib==1.1
htmlmin==0.1.12
httpcore==0.14.7
httplib2==0.20.4
httpx==0.22.0
idna==2.8
ImageHash==4.2.1
importlib-metadata==4.12.0
inflection==0.5.1
install==1.3.5
ipykernel==6.6.1
ipython==7.31.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isodate==0.6.1
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-server==1.13.4
jupyterlab==3.2.8
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
kiwisolver==1.3.2
lazy-object-proxy==1.7.1
leather==0.3.4
lesscpy==0.15.0
lockfile==0.12.2
Logbook==1.5.3
lxml==4.8.0
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.0.1
marshmallow==3.15.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mashumaro==3.0.4
matplotlib==3.5.1
matplotlib-inline==0.1.3
minimal-snowplow-tracker==0.0.2
missingno==0.5.1
mistune==0.8.4
more-itertools==8.13.0
mrjob==0.7.4
msgpack==1.0.4
multidict==6.0.2
multimethod==1.8
mysql==0.0.3
mysql-connector-python==8.0.27
mysqlclient==2.1.0
nbclassic==0.3.5
nbclient==0.5.9
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.7.1
nflfastpy==0.0.14
notebook==6.4.6
numpy==1.23.1
oauth2client==4.1.3
oauthlib==3.2.0
open-meteo==0.2.1
openpyxl==3.0.9
ordered-set==4.1.0
outcome==1.1.0
packaging==21.3
pandas==1.5.1
pandas-profiling==3.2.0
pandasql==0.7.3
pandoc==2.2
pandocfilters==1.5.0
parsedatetime==2.4
parso==0.8.3
pathspec==0.9.0
pdf2image==1.16.0
pendulum==2.1.2
phik==0.12.2
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.4.1
plotly==5.10.0
pluggy==0.13.1
plumbum==1.7.2
ply==3.11
portpicker==1.2.0
prison==0.2.1
prometheus-client==0.12.0
prompt-toolkit==3.0.28
proto-plus==1.22.1
protobuf==3.20.3
psutil==5.9.0
py==1.11.0
py4j==0.10.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycep-correios==5.0.0
pycountry==22.3.5
pycparser==2.21
pydantic==1.9.0
Pygments==2.11.2
PyJWT==1.7.1
pyOpenSSL==22.0.0
pyparsing==3.0.6
PyPDF2==1.27.12
pyreadr==0.4.4
pyrsistent==0.18.0
PySocks==1.7.1
pyspark==3.2.1
pytest==4.6.2
python-daemon==2.3.0
python-dateutil==2.8.2
python-nvd3==0.15.0
python-slugify==6.1.2
python3-openid==3.2.0
pytimeparse==1.1.8
pytrends==4.8.0
pytube==12.1.0
pytube3==9.6.4
pytz==2021.3
pytzdata==2020.1
PyWavelets==1.3.0
pywin32==303
pywinpty==1.1.6
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.0
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==12.4.1
rsa==4.8
scikit-learn==1.1.1
scipy==1.8.0
seaborn==0.11.2
selenium==4.1.3
Send2Trash==1.8.0
setproctitle==1.2.3
simplegeneric==0.8.1
six==1.12.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==1.4.9
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.2
sqlparse==0.4.2
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tangled-up-in-unicode==0.2.0
tenacity==8.0.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==3.1.0
toolz==0.11.2
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
trio==0.20.0
trio-websocket==0.9.2
typing_extensions==4.1.1
tzdata==2022.1
unicodecsv==0.14.1
Unidecode==1.3.4
uritemplate==3.0.1
urllib3==1.26.8
validate-docbr==1.10.0
virtualenv==20.16.5
visions==0.7.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==1.0.1
widgetsnbextension==3.5.2
wikipedia==1.4.0
wrapt==1.14.1
wsproto==1.1.0
WTForms==2.3.3
xlrd==2.0.1
yarl==1.7.2
zeep==4.1.0
zipp==3.8.1
