{% extends "template.html" %}
{% block conteudo %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h3 class="cover-heading">Analise Diaria (DADOS MOCADOS)</h3>
        <br><br>
        <p class="lead">
            Olá, {{ user['nome'] }}!<br>
            Confira como foi o desempenho do Google Ads da conta {{ json_resp['conta_selecionada'] }} no dia {{ json_resp['data_atual'] }} em comparação com o dia {{ json_resp['data_antiga'] }}. <br>
            <br>
            No dia {{ json_resp['data_atual'] }}, a taxa de cliques (CTR). {{ json_resp['ctr']['condicao_ctr'] }} em {{ json_resp['ctr']['ctr_diff'] }} % em comparação com o {{ json_resp['data_antiga'] }}.<br>
            <br>
            A campanha {{ json_resp['cliques']['nome_campanha'] }}, {{ json_resp['cliques']['condicao_cliques'] }} de cliques em {{ json_resp['cliques']['cliques_diff'] }} %<br>
            {{ json_resp['data_atual'] }}, as conversões da {{ json_resp['cliques']['nome_campanha'] }} {{json_resp['conv']['condicao_conv']}} em {{json_resp['conv']['conv_diff_por']}} % em ({{json_resp['conv']['conv_diff_qtde']}}) em relação a {{ json_resp['data_antiga'] }}.<br>
            <br>
            Em {{ json_resp['data_atual'] }}, a quantidade de visualização do anúncio {{json_resp['imp']['condicao_imp']}} em {{json_resp['imp']['imp_diff_por']}} % ({{json_resp['imp']['imp_diff_qtde']}}) em comparação com {{ json_resp['data_antiga'] }}.<br>
            <br>
            Esse foi seu relatório diário.<br>
            <br>
            Qualquer dúvida, estamos à disposição.<br>
            <br>
            Atenciosamente,<br>
            Time NOWON.<br>
        </p>
        <div class="border-top pt-3">
            <small class="text-muted">
                E-mail cadastrado é {{ user['email'] }}, para se desinscrever<br>
                <a class="ml-2" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">clique aqui</a>
            </small>
        </div>
    </main>
</div>

{% endblock %}