{% extends "template.html" %}
{% block conteudo %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Home</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices vulputate sapien, blandit sagittis magna aliquam eget. Nulla nisi nisi, consequat mollis egestas sed, consequat eu dui. Proin mattis lacus massa, ac blandit sapien volutpat ut. Nulla ut consectetur urna, a pellentesque diam. Integer finibus volutpat quam pulvinar suscipit. Pellentesque imperdiet auctor magna, a sagittis augue faucibus quis. Curabitur mollis, nunc sed tempor bibendum, nibh nunc tempus tellus, vel eleifend quam lectus et libero.
        </p>
    </main>


    <div class="buttons-home">
        {% if not user %}
            <form action="http://127.0.0.1:5000/login">
                <input class="btn btn-lg btn-primary" type="submit" value="Logar"/>
            </form>
            <br>
        {% else %}
            <form action="http://127.0.0.1:5000/logout">
                <input class="btn btn-lg btn-primary" type="submit" value="Deslogar"/>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}