<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nowon</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css') }}"></link>
    </head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %} 
                <ul id="messages" class="list-unstyled">
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <header class="header">
            <div class="page-header">
                <h1>Nowon</h1>
            </div>
        </header>
        {% block conteudo %}

        {% endblock %}
    </div>
    <div>
        <footer>
            <a href="http://127.0.0.1:5000"><button class="btn-secondary">Voltar Home</button></a><br>
        </footer>
    </div>
  </body>
</html>